*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    margin: 0 important!;
}
body {
    margin: 0 important!;
    font-family: sans-serif;
}
div {
    margin: 0;
}
canvas {
    height: 50rem important!;
    width: 80rem important!;
    margin: 0;
}